@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

/******************************************************************************/
/*
/* Colors
/*
/******************************************************************************/
@theme static {
    /**********************************************************************/
    /* Colors
    /**********************************************************************/


  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

 /**********************************************************************/
    /* Palette
    /**********************************************************************/
    /* Primary */
    --ui-primary:       var(--color-sky-800);
    --ab-primary-1:     var(--color-sky-400);
    --ab-primary-2:     var(--color-sky-300);
    /* Secondary */
    --ui-secondary:     var(--color-gray-400);
    --ab-secondary-1:   var(--color-gray-300);
    --ab-secondary-2:   var(--color-gray-200);
    --ab-secondary-3:   var(--color-gray-100);
    /* Tertiary */
    --ui-tertiary:      var(--color-orange-800);
    --ab-tertiary-1:    var(--ui-color-tertiary-700);
    --ab-tertiary-2:    var(--ui-color-tertiary-600);
    --ab-tertiary-3:    var(--ui-color-tertiary-500);
    --ab-tertiary-4:    var(--ui-color-tertiary-400);
    /**********************************************************************/
    /* Ship
    /**********************************************************************/
    --ui-bg:            var(--color-gray-300);
    --ab-water:         var(--ui-bg);
    --ab-ship:          transparent;
    --ab-bow:           var(--ui-bg);
    --ab-midships:      var(--color-gray-50);
    --ab-port-gunnel:   var(--ui-bg);
    --ab-star-gunnel:   var(--color-orange-500);
    --ab-hold:          transparent;
    --ab-cargo:         transparent;
    --ab-star-gunnel:   transparent;
    --ab-transom:       var(--ui-bg);
    /**********************************************************************/
    /* Messages
    /**********************************************************************/
    --ui-success:   var(--ui-color-success-500);
    --ui-info:      var(--ui-color-info-500);
    --ui-warning:   var(--ui-color-warning-500);
    --ui-error:     var(--ui-color-error-500);
    /**********************************************************************/
    /* Typography
    /**********************************************************************/
    --ab-text-dimmed:       var(--color-gray-500);
    --ui-text-dimmed:       var(--ui-color-gray-400); /* Least */
    --ui-text-muted:        var(--ui-color-gray-600);
    --ui-text-toned:        var(--ui-color-gray-500); /* Mid */
    --ui-text:              var(--ui-color-gray-700); /* Default */
    --ui-text-highlighted:  var(--ui-color-gray-950); /* Most */
}
/******************************************************************************/
/*
/* Dark
/*
/******************************************************************************/
.dark {
    /******************************************************************/
    /* Palette - Dark
    /******************************************************************/
    /* Primary */
    --ui-primary:       var(--color-sky-500);
    --ab-primary-1:     var(--color-sky-700);
    --ab-primary-2:     var(--color-sky-900);
    /* Secondary */
    --ui-secondary:     var(--color-gray-400);
    --ab-secondary-1:   var(--color-gray-800);
    --ab-secondary-2:   var(--color-gray-900);
    /* Tertiary */
    --ui-tertiary:      var(--ui-color-tertiary-200);
    --ab-tertiary-1:    var(--ui-color-tertiary-300);
    --ab-tertiary-2:    var(--ui-color-tertiary-500);
    --ab-tertiary-3:    var(--ui-color-tertiary-700);
    --ab-tertiary-4:    var(--ui-color-tertiary-900);
    /******************************************************************/
    /* Ship - Dark
    /******************************************************************/
    --ui-bg:            var(--color-gray-900);
    --ab-water:         var(--ui-bg);
    --ab-ship:          transparent;
    --ab-bow:           var(--ui-bg);
    --ab-bow-ring:      transparent;
    --ab-midships:      var(--color-gray-800);
    --ab-port-gunnel:   var(--ui-bg);
    --ab-star-gunnel:   var(--ui-bg);
    --ab-hold:          transparent;
    --ab-cargo:         transparent;
    --ab-star-gunnel:   transparent;
    --ab-transom:       var(--ui-bg);
    /**************************************************************************/
    /* Messages - Dark
    /**************************************************************************/
    --ui-success:   var(--ui-color-success-400);
    --ui-info:      var(--ui-color-info-400);
    --ui-warning:   var(--ui-color-warning-400);
    --ui-error:     var(--ui-color-error-400);
    /**************************************************************************/
    /* Typography - Dark
    /**************************************************************************/
    --ab-text-dimmed:       var(--color-gray-400);
    --ui-text-dimmed:       var(--color-gray-300); /* Least */
    --ui-text-muted:        var(--color-gray-400);
    --ui-text-toned:        var(--color-gray-300); /* Mid */
    --ui-text:              var(--color-gray-200); /* Default */
    --ui-text-highlighted:  var(--color-gray-100); /* Most */
} /* Dark */
/******************************************************************************/
/*
/* Ship
/*
/******************************************************************************/
body {
    @apply bg-(--ab-water);
}
/**************************************************************************/
/* Decorations
/**************************************************************************/
.ab-hr {
    @apply border-(--ui-secondary);
}
/**************************************************************************/
/* Navi
/**************************************************************************/
a { @apply no-underline text-(--ui-primary); }
a:hover, a:active, a:focus { @apply text-(--ui-secondary); }
/**************************************************************************/
/* Tables
/**************************************************************************/
table { @apply rounded-md bg-(--ui-bg); }
/**************************************************************************/
/* UI
/**************************************************************************/
/* Shadow - stone-300 dark:gray-900 */
.card-glass-narrow { @apply
    rounded-md bg-transparent dark:bg-gray-950/20
    border border-stone-200 dark:border-gray-700
    shadow-[2px_2px_0_0_#a8a29e] dark:shadow-[2px_2px_0_0_#0f172a];
}
.card-glass-link { @apply
    rounded-md bg-transparent dark:bg-gray-950/20 border
    border-none dark:border-gray-700
    shadow-[2px_2px_0_0_#a8a29e] dark:shadow-[2px_2px_0_0_#0f172a]
    hover:shadow-[3px_3px_0_0_#a8a29e] dark:hover:shadow-[3px_3px_0_0_black]
    cursor-pointer transition ease-in-out;
}
